.cartSection {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80vh;
	gap: 15px;
	overflow-y: scroll;
	margin-bottom: 50px;

	&::-webkit-scrollbar {
		width: 0;
	}
}

.price {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px;
	gap: 15px;

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		p {
			font-size: 18px;
			font-weight: 600;
			color: #000;
			span {
				color: #fe5f1e;
				font-size: 18px;
				font-weight: 800;
			}
		}
	}

	&__btn {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		width: 100%;
		gap: 8px;

		&__exit {
			width: 100%;
		}
	}

	@media (max-width: 425px) {
		&__info {
			flex-direction: column;
			align-items: normal;
		}
	}
}
